:root {
  color-scheme: light dark;
}

body {
  font-family: system-ui;
  margin: auto;
  width: 80ch;
}

.todo-form {
  display: flex;
  gap: 1ch;
  margin: 1ch 0;

  input {
    flex: 1;
    font-size: 1.5rem;
  }
}
